<!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>123 Street, New York, USA</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>info@example.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><img src="./img/merlion_img.jpg" alt="Logo"><span class="ms-2">JourneyJunction</span></h1>
                
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/service" class="nav-item nav-link">Services</a>
                    <a href="/package" class="nav-item nav-link">Packages</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="/destination" class="dropdown-item">Destination</a>
                            <a href="/booking" class="dropdown-item">Booking</a>
                            <a href="/team" class="dropdown-item">Travel Guides</a>
                            <a href="/testimonial" class="dropdown-item">Testimonial</a>
                            <a href="/404" class="dropdown-item">404 Page</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown d-block">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">John</a>
                        <div class="dropdown-menu m-0">
                            <a href="/#" class="dropdown-item p-3 px-4"><i class="bi bi-person-fill pe-2"></i> Profile</a>
                            <a href="/#" class="dropdown-item p-3 px-4"><i class="bi bi-clipboard-data-fill pe-2"></i> Dashboard (Admin)</a>
                            <a href="/#" class="dropdown-item p-3 px-4"><i class="bi bi-ticket-detailed-fill pe-2"></i> Rewards</a>
                            <a href="/#" class="dropdown-item p-3 px-4"><i class="bi bi-airplane-fill pe-2"></i> Travel Management</a>
                            <a href="/#" class="dropdown-item p-3 px-4"><i class="bi bi-currency-dollar pe-2"></i> Budget Management</a>
                            <a href="/#" class="dropdown-item p-3 px-4"><i class="bi bi-receipt pe-2"></i> Purchase History</a>
                            <a href="/logout" class="dropdown-item p-3 px-4">Logout</a>
                        </div>
                    </div>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
                <a data-bs-toggle="modal" data-bs-target="#loginModel" class="btn btn-primary rounded-pill py-2 px-4">Login</a>
                
            </div>
        </nav>

        <!-- Modal -->
        <div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-5">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="loginModelLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-5 pb-3">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">Username/ Email</label>
                        <input type="text" class="form-control py-3" id="usernameInput" placeholder="E.g Tom or name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" id="inputPassword5" name="inputPassword5" class="form-control py-3 border-end-0" aria-describedby="passwordHelpBlock">
                            <div class="input-group-append">
                                <span class="input-group-text h-100 border-start-0 bg-white px-4">
                                    <i class="fa fa-eye" id="togglePassword"></i>
                                </span>
                            </div>
                        </div>
                        <div id="passwordHelpBlock" class="form-text text-danger mt-2">
                            <i class="bi bi-exclamation-lg"></i> Incorrect Password or Username
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="submit" class="btn btn-secondary mb-3 px-5 py-3 w-100">Login</button>
                <button type="submit" class="btn px-5 py-3 w-100 mb-3" style="background-color: #4285F4; color:white"><i class="bi bi-google pe-3"></i>Sign In With Google</button>
                <p class="text-dark">Not signed up? <a class="text-green" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#signUpModel"> Register</a></p>
            </div>

            </div>
        </div>
        </div>

        <!-- Sign Up Modal -->
        <div class="modal fade" id="signUpModel" tabindex="-1" aria-labelledby="signupModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content p-0 m-0">
            <div class="modal-body p-0 m-0">
                <div class="row signup_content">
                    <div class="col-6">
                        <img src="./img/singapore-06.jpg" class="" id="modalImage" style="object-fit: cover; width: 100%;" alt="">
                    </div>
                    <div class="col-6 bg-white">
                        <div class="modal-header border-0 p-5">
                            <h1 class="modal-title fs-3" id="loginModelLabel">Sign Up</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body px-5">
                            <form action="/signup" method="post">
                                <div class="mb-4">
                                    <label class="form-label">Name</label>
                                    <div class="input-group">
                                    <input type="text" class="form-control py-3 " placeholder="First">
                                    <input type="text" class="form-control py-3" placeholder="Last">
                                    </div>
                                    
                                </div>
                                <div class="mb-4 d-flex justify-content-between">
                                    <div class="w-50">
                                        <label for="genderInput" class="form-label">Gender</label>
                                        <div class="w-100 pt-3" style="vertical-align: middle;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Male
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Female
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="genderRadio" id="genderRadio3">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Others
                                                </label>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="w-50">
                                        <label for="DOBInput" class="form-label">Date of Birth</label>
                                        <input type="date" class="form-control py-3" placeholder="01/01/1999">
                                    </div>
                                    

                                </div>
                                <div class="mb-4">
                                    <label for="emailInput" class="form-label">Email</label>
                                    <input type="email" class="form-control py-3 " id="emailInput" placeholder="name@example.com">
                                </div>
                                
                                <div class="mb-4">
                                    <label for="signupPassword" class="form-label">Password</label>
                                    <div class="input-group">
                                        <input type="password" id="signupPassword" name="signupPassword" class="form-control py-3 border-end-0" aria-describedby="passwordHelpBlockSignup">
                                        <div class="input-group-append">
                                            <span class="input-group-text h-100 border-start-0 bg-white px-4">
                                                <i class="fa fa-eye" id="togglePassword"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="passwordHelpBlockSignup" class="form-text mt-2">
                                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                    </div>
                                </div>
                                    <div class="mb-3">
                                    <label for="signupPasswordConfirm" class="form-label">Confirm Password</label>
                                    <div class="input-group">
                                        <input type="password" id="signupPasswordConfirm" name="signupPasswordConfirm" class="form-control py-3 border-end-0" >
                                        <div class="input-group-append">
                                            <span class="input-group-text h-100 border-start-0 bg-white px-4">
                                                <i class="fa fa-eye" id="togglePassword"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer px-5 pb-5 border-0 justify-content-center">
                            <button type="submit" class="btn btn-secondary mb-3 px-5 py-3 w-100">Sign Up</button>
                            <button type="submit" class="btn px-5 py-3 w-100 mb-3" style="background-color: #4285F4; color:white"><i class="bi bi-google pe-3"></i>Sign Up With Google</button>
                            <p class="text-dark">Already have a account! <a class="text-green" style="cursor: pointer;" data-bs-dismiss="modal"> Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    