<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{>header}}

<body>
    <!-- Spinner, Top Bar & Navbar -->
    {{>navigation}}
    {{>searchhero}}

    <!-- Index Starts Here -->
    <!-- Intro Start -->
    <section class="half-grey-half-white p-5">
        <div class="container p-5">
            <div class="row w-75 justify-content-center m-auto bg-white ">
                <div class="d-flex align-items-center">
                    <div class="carousel slide" id="carouselExampleControls" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 p-5 text-left m-auto">
                                            <h1>City in Nature. Made in Singapore.</h1>
                                            <hr class="bg-danger border border-2 border-danger w-25">
                                            <p>Enjoy the best of both worlds in Singapore: nature and urban living. Also known as the garden city, these green wonders are never more than a few steps away, from sustainable buildings intertwined with nature to bridges that soar over the tree line.</p>
                                            <p><a href="#" class="btn btn-secondary px-5 py-3">TOP NATURE EXPERIENCES →</a></p>
                                        </div>
                                        <div class="col-md-6 p-5">
                                            <img src="./img/sinagpore-05.jpg" alt="Singapore Gardens" class="carousel-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 p-5 text-left m-auto ">
                                            <h1>City in Nature. Made in Singapore.</h1>
                                            <hr class="bg-danger border border-2 border-danger w-25">
                                            <p>Enjoy the best of both worlds in Singapore: nature and urban living. Also known as the garden city, these green wonders are never more than a few steps away, from sustainable buildings intertwined with nature to bridges that soar over the tree line.</p>
                                            <p><a href="#" class="btn btn-secondary px-5 py-3">TOP NATURE EXPERIENCES →</a></p>
                                        </div>
                                        <div class="col-md-6 p-5">
                                            <img src="./img/thumb-1.jpg" alt="Singapore Gardens" class="carousel-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 p-5 text-left m-auto ">
                                            <h1>City in Nature. Made in Singapore.</h1>
                                            <hr class="bg-danger border border-2 border-danger w-25">
                                            <p>Enjoy the best of both worlds in Singapore: nature and urban living. Also known as the garden city, these green wonders are never more than a few steps away, from sustainable buildings intertwined with nature to bridges that soar over the tree line.</p>
                                            <p><a href="#" class="btn btn-secondary px-5 py-3">TOP NATURE EXPERIENCES →</a></p>
                                        </div>
                                        <div class="col-md-6 p-5">
                                            <img src="./img/sinagpore-05.jpg" alt="Singapore Gardens" class="carousel-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev h-25 start-0 text-center m-auto" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next h-25 text-center m-auto" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro End -->

    <!-- Recommendation Start-->
     <div class="container-xxl py-5 mt-3">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5" style="text-align: left;">Things You Must Do</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/package-1.jpg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Thailand</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">$149.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/package-2.jpg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Indonesia</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">$139.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/package-3.jpg" alt="">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Malaysia</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>2 Person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">$189.00</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam eos</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recommendation End -->

        <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp pt-5" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Why <span class="text-primary">JourneyJunction</span> ?</h1>
                    <p class="mb-4 fs-5">Your premier partner for luxurious travel planning and bespoke itinerary management.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x bi bi-piggy-bank-fill mb-4" style="color: pink; !important"></i>
                                    <h5>Financial Stewardship</h5>
                                    <p>Budget management with a refined touch</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x fa-hotel mb-4" style="color: brown; !important"></i>
                                    <h5>Curated Experiences</h5>
                                    <p>Personalized attractions and hotels selection</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x bi bi-cloud-sun-fill mb-4" style="color: rgb(13, 53, 155); !important"></i>
                                    <h5>Meteorological Insights</h5>
                                    <p>Providing detailed weather tracking for traveler</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x bi bi-headset mb-4" style="color: rgb(21, 194, 203); !important"></i>
                                    <h5>Concierge Service</h5>
                                    <p>24/7 assistance and exclusive offerings</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Index Ends Here -->
        
    <!-- Footer Start -->
    {{>footer}}

    <!-- JavaScript Libraries -->
    {{>javascript_libraries}}

</body>

</html>