<!DOCTYPE html>
<html lang="en">
<!-- Header -->
{{>header}}

<body>
    <!-- Spinner, Top Bar & Navbar -->
    {{>navigation}}

    <!-- Index Starts Here -->
    
    <!-- Index Ends Here -->
        
    <!-- Footer Start -->
    {{>footer}}

    <!-- JavaScript Libraries -->
    {{>javascript_libraries}}

</body>

</html>